<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
.csv_div{
    background: #f7f8f9;
    border: 2px solid #d9dde0;
    border-radius: 5px;
    max-width: 80%;
    width:52%;
}

.btn-main {
    border: 2px solid #888888;
    border-radius: 5px;
    width: 220px;
}

.form-upload {
    margin: 25px;
}

a{
    color: white;
}
</style>

{% if messages %}
    {% for message in messages %}
        <div class="container">
             <strong>{{ message|safe }}</strong>
        </div>
    {% endfor %}
{% else %}
{{ order }}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="d-flex justify-content-center align-items-center container csv_div">
        <div class="col form-upload">
            <label><strong>Upload a file</strong>
            <input class="btn-main" type="file" name="file">
            </label>
            <p>Only accepts .csv file</p>
            <button class="btn btn-success" type-="submit">Upload</button>
            <button class="btn btn-primary">
                <a href="/" download="test.csv">Download Format</a>
            </button>


        </div>
    </div>

</form>

{% endif %}